@model IEnumerable<Repas.Models.RepasService>

@{
    ViewData["Title"] = "Details";
}



@if (Model.Any())
{
    <p class="text-center bg-white p-3 my-3">Date : <strong> @Model.First().dateForniture.FornitureDate.ToString("dd-MM-yyyy")</strong></p>
}
@foreach (var dest in Enum.GetValues(typeof(Destination)))
{
    <div class="div-content border border-light-subtle mb-2" id="@Array.IndexOf(Enum.GetValues(typeof(Destination)), dest)">
        <p class="text-center">EFFECTIF DES REPAS <strong class="text-uppercase">( @dest )</strong></p>
        <hr />

        <table class="table table-bordered" id="@dest.ToString().ToLower()">
            <thead>
                <tr>
                    <th scope="col">Service</th>
                    @foreach (var typeRepas in ViewBag.TypeRepas)
                    {
                        @if (typeRepas.Destination.ToString() == dest.ToString())
                        {
                            <th class="text-center" scope="col">@typeRepas.Type</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var service in ViewBag.Services)
                {
                    <tr>
                        <th scope="row">@service.ServiceName</th>
                        @foreach (var typeRepas in ViewBag.TypeRepas)
                        {
                            if (typeRepas.Destination.ToString() == dest.ToString())
                            {
                                var repasService = Model.FirstOrDefault(rs => rs.Service.Id == service.Id && rs.TypeRepas.Id == typeRepas.Id);
                                <td class="text-center">
                                    @if (repasService != null)
                                    {
                                        @repasService.TotalRepas
                                    }
                                    else
                                    {
                                        <label>0</label>
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.FirstOrDefault()?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
