@model IEnumerable<Repas.Models.RepasService>
@using Repas.Controllers
@inject Repas.Data.AppDbContext _context
@{
    ViewData["Title"] = "Index";
    var services = ViewBag.TypeRepas;
    var controller = new RepasServicesController(_context);
   
}


<div class="div-content border border-light-subtle">
    <h3>Repas</h3>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>
                Date Forniture
            </th>
            @foreach (var serv in services)
            {
                <th>@serv</th>
            }
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.dateForniture.FornitureDate.ToString("dd/MM/yyyy")
                </td>
                @foreach (var serv in services)
                {
                    <td>
                        @await controller.getCountbyName(serv,item.DateFornitureId)
                    </td>
                }
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                     
                </td>
                    <td><a class="btn btn-primary" asp-action="Details" asp-route-DateFornitureId="@item.dateForniture.Id">Details</a></td>

                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.DateFornitureId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

</div>