@model Repas.Models.TypeRepas

@{
    ViewData["Title"] = "Supprimer type repas";
}

<p class="text-center bg-white p-3 fw-bold h3 my-3">@ViewData["Title"]</p>
<div class="container div-content border border-light-subtle">
    <h4 class="text-danger">Voullez vous vraiment supprimer Le type : <strong>@Model.Type</strong>  ??</h4>
    <hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Retour a la liste des types Repas</a>
    </form>
</div>
</div>